
body {
    background: url("images/main_background.e8d7bf888bff.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    margin: 0;
    font-family: Arial;
}

.main_logo_link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

a {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    color: #DD7835;
}

p {
    color: red;
}



